body {
        background-color: darkred;
        font-family:fantasy;
        font-size: 24px;
        color:cyan;
        text-align: center;
}
    a:hover {
            color: yellow;
            transition: 500ms;    
    }